* {
	margin: 0;
	padding: 0;
}

h1, div {
	font-family: 'Roboto', sans-serif;
	font-weight: 400;
	padding: 0.5em;
	color: white;
}
.title {
	text-align: center;
	background: #3C99DC;
	top: 0;
	font-family: 'Lato', sans-serif;
	font-weight: 700;
}

#weather-button {
	padding: 10px;
	margin-right: 75%;
	margin-top: 5%;
	margin-left: 5%;
	background: #0F5298;
	text-align: center;
	border-radius: 5px;
	margin-bottom: 3%;
	font-family: 'Lato', sans-serif;
	font-weight: 700;

}

#weather-button:hover {
	box-shadow: 4px 7px 19px -4px rgba(0,0,0,0.75);
}

#weather {
	color: black;
	margin-left: 5%;
}
.weather-container,
.apparel-container,
.nextday-container {
	display: inline-block;
	width: 30%;
	border-radius: 15px;
	box-shadow: 4px 7px 19px -4px rgba(0,0,0,0.75);
}
.weather-container {
	margin-left: 3%;
}

h2 {
	font-family: 'Roboto', sans-serif;
	font-weight: 400;
	color: white;
	padding: 0.5em;
}

.apparel-container {
	background-color: #34DDDD;
}

.weather-container {
	background-color: #77D4F9;
}

.nextday-container {
	background-color: #89E894;
}

#currenttemp {
	font-size: 30px;
	text-decoration: bold;
	font-weight: bold;
	color: #0F5298;
}

#icon,
#condition,
#temps,
#city {
	text-align: center;
}

#icon {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

h1 {
	text-align: center;
}
ul {
	list-style-type: none;
}

li {
	font-size: 20px;
}
.wardrobe {
	color: #3C99DC;
	font-family: 'Lato', sans-serif;
	font-weight: 700;
}
.my-wardrobe {
	list-style-type: none;
	margin-left: 39em;
	font-family: 'Roboto', sans-serif;
	color: white;
}

.my-wardrobe li {
	background-color: #0F5298;
	margin-right: 31em;
	border-radius: 3px;
	padding: 5px;
	margin-bottom: 1%;
	text-align: center;
}
#add-items {
	background-color: white;

}

#dropdown {
  font-family: inherit;
  width: 160px;
  margin-bottom: 1%;
  font-size: 115%;
  background: #34DDDD;
  color: white;
  border: none;
  height: 35px;

}

