* {
	margin: 0;
	padding: 0;
}

h1, div {
	font-family: 'Roboto', sans-serif;
	font-weight: 400;
	padding: 0.5em;
	color: white;
}
.title {
	text-align: center;
	background: #3C99DC;
	top: 0;
	font-family: 'Lato', sans-serif;
	font-weight: 700;
}

#weather-button {
	padding: 10px;
	margin-right: 75%;
	margin-top: 5%;
	margin-left: 5%;
	background: #0F5298;
	text-align: center;
	border-radius: 5px;
	margin-bottom: 3%;
	font-family: 'Lato', sans-serif;
	font-weight: 700;

}

#weather-button:hover {
	box-shadow: 4px 7px 19px -4px rgba(0,0,0,0.75);
}

#weather {
	color: black;
	margin-left: 5%;
}
.weather-container,
.apparel-container,
.nextday-container {
	display: inline-block;
	width: 30%;
	border-radius: 15px;
	box-shadow: 4px 7px 19px -4px rgba(0,0,0,0.75);
}
.weather-container {
	margin-left: 3%;
}

h2 {
	font-family: 'Roboto', sans-serif;
	font-weight: 400;
	color: white;
	padding: 0.5em;
}

.apparel-container {
	background-color: #34DDDD;
}

.weather-container {
	background-color: #77D4F9;
}

.nextday-container {
	background-color: #89E894;
}

#currenttemp {
	font-size: 30px;
	text-decoration: bold;
	font-weight: bold;
	color: #0F5298;
}

#icon,
#condition,
#temps,
#city {
	text-align: center;
}

#icon {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

h1 {
	text-align: center;
}
ul {
	list-style-type: none;
}
label {
	padding: 5px;
	font-size: 110%;

}
input {
	margin-left: 5em;
}
